spring:
  application:
    name: iFeed
  datasource:
    url: jdbc:postgresql://${PG:127.0.0.1}:${PG_PORT:5432}/${PG_DATABASE:i_feed}
    username: ${PG_USERNAME:i_feed}
    password: ${PG_PASSWORD:0123.}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 200
      connection-timeout: 30000
  threads:
    virtual:
      enabled: true
  ai:
    openai:
      api-key: ${app.ai.provider.api-key}
      base-url: ${app.ai.provider.endpoint}
      chat:
        options:
          model: ${app.ai.provider.model}
          temperature: 0.5
      embedding:
        options:
          dimensions: ${app.ai.provider.embedding.options.dimensions}
          model: ${app.ai.provider.embedding.model}
          encoding-format: 'float'
        base-url: ${app.ai.provider.embedding.endpoint}
        api-key: ${app.ai.provider.embedding.api-key}
    vectorstore:
      pgvector:
        initialize-schema: true
        table-name: article_embeddings
        index-type: ${VECTOR_INDEX_TYPE:HNSW}
        distance-type: ${VECTOR_DISTANCE_TYPE:COSINE_DISTANCE}
        dimensions: ${app.ai.provider.embedding.options.dimensions}
  data:
    mongodb:
      host: ${MONGO_DB:127.0.0.1}
      port: ${MONGO_DB_PORT:27017}
      username: ${MONGO_DB_USERNAME:mongo_cTXZaN}
      password: ${MONGO_DB_PASSWORD:mongo_MDNyW6}
      database: ${MONGO_DB_DATABASE:i_feed}
  profiles:
    active: local

app:
  # 定时任务
  rss:
    fetcher:
      fixed-delay: PT60M
      initial-delay: PT1M
      thread-pool-size: 10
      connect-timeout: 50s
      read-timeout: 100s
      max-items: 500
      max-retries: 3
      cache:
        expire-after-write: 30m
        maximum-size: 1000
  embedding:
    document:
      fixed-delay: PT10M
      initial-delay: PT1M
    user:
      fixed-delay: PT12H
      initial-delay: PT30s
      options:
        recent-behavior-limit: 200
        default-profile: '科技, 人工智能, 金融科技, 产品设计, 财经, 商业, 社会, 文化, 人物故事, 政治, 国际关系, 娱乐, 生活方式, 音乐, 游戏, 体育, 健康, 教育, 播客, 新闻, 科学, 犯罪悬疑, 环境保护, 历史, 心理学, 文学, 艺术, 创业, 政策, 国际贸易, 网络安全, 航天科技, 健康医疗, 社会经济, 文化评论, 综合'
  # ai 集成
  ai:
    provider:
      enabled: false
      endpoint: ''
      api-key: ''
      model: 'gpt-4o-mini'
      embedding:
        endpoint: '${app.ai.provider.endpoint}'
        api-key: '${app.ai.provider.api-key}'
        model: 'Qwen/Qwen3-Embedding-4B'
        options:
          dimensions: 1024
  # 检索
  search:
    retrieval:
      bm25-top-k: 120
      vector-top-k: 120
      fusion-top-k: 200
      bm25-weight: 0.6
      vector-weight: 0.4
      freshness-time-weight: 0.3
      freshness-lambda: 0.5
      similarity-threshold: 0.3
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,threaddump